<div class="card card-gray">
    <div class="card-header">
      <img src="/images/personal3_FeedBack.png" alt="" />
      <div>
        <h3>Oyindamola Maja</h3>
        <h5>Badagry, Lagos</h5>
      </div>
    </div>
    <p>
      “Been stressing about a close centre to get the
      <span>covid-19</span> vaccine, until i tried Vaccination.ng”
    </p>
  </div>

  <div class="card card-blue">
    <div class="card-header">
      <img src="/images/personal2_FeedBack.png" alt="" />
      <div>
        <h3>Okeowo Lekan</h3>
        <h5>Ikeja, Lagos</h5>
      </div>
    </div>
    <p>
      “Got my vaccine very close to my house. Was very easy scheduling an
      appointment.”
    </p>
  </div>

  <div class="card card-gray">
    <div class="card-header">
      <img src="/images/personal1_FeedBack.png" alt="" />
      <div>
        <h3>Kafaru Temitope</h3>
        <h5>Obanikoro, Lagos</h5>
      </div>
    </div>
    <p>
      “Been stressing about a close centre to get the
      <span>covid-19</span> vaccine, until i tried Vaccination.ng”
    </p>
  </div>