<footer>
    <div class="container-quote">
      <div class="br-quote">
        <div class="quote">
          <h4>Get a quote</h4>
          <p>Please do enter your email address below</p>
          <div class="send-quote">
            <input
              type="email"
              class="input"
              placeholder="linux.ng@gamil.com"
            />
            <button>
              <span class="">
                <svg class="icon-small icon-quote">
                  <use xlink:href="/images/SVGSprite.svg#send"></use>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="info-foot">
      <div class="head-foot">
        <h3>Vaccination.ng</h3>
        <hr />
      </div>
      <ul>
        <li>Home</li>
        <li>Services</li>
        <li>Schedule</li>
        <li>Contact us</li>
      </ul>

      <div class="">
        <span class="">
          <svg class="icon-small">
            <use xlink:href="/images/SVGSprite.svg#logo-youtube"></use>
          </svg>
        </span>

        <span class="">
          <svg class="icon-small">
            <use xlink:href="/images/SVGSprite.svg#logo-Facebook"></use>
          </svg>
        </span>

        <span class="">
          <svg class="icon-small">
            <use xlink:href="/images/SVGSprite.svg#logo-Instagram"></use>
          </svg>
        </span>

        <span class="">
          <svg class="icon-small">
            <use xlink:href="/images/SVGSprite.svg#logo-Twitter"></use>
          </svg>
        </span>
      </div>
    </div>
    
  </footer>